
.list-container {
  margin: 0 auto;
  width: 70%;
  background: #4d4d4d;
  opacity: 0.7;
  border-radius: 5px;
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
}

.movies-list {
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}

.movie-link {
    font: 18px/22px "Lato", Arial, sans-serif;
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 600;
}

form.example {
  display: flex;
  padding-top: 120px;
  justify-content: center;
}
/* Style the search field */
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    width: 60%;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  form.example button {
    width: 10%;
    padding: 10px;
    background: #4CAF50;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #333;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

  .fav-button {
    background-color: #4CAF50;
    color: white;
  }

  .fav-button:hover {
    color: #4CAF50;
    background-color: white;
    cursor: pointer;
  }
